<div class="account" [class.mode-register]="modeRegister()">

  <section class="login" [class.mode-register]="modeRegister()">
    <h1>Account Login</h1>
    <div class="login-input">
      <label>Username</label>
      <input type="text">
    </div>
    <div class="login-input">
      <label>Password</label>
      <input type="text">
    </div>
    <div class="forgot-password">
      <a>Esqueceu a senha?</a>
    </div>
    <button>Log in</button>
  </section>

  <button class="open-register-view" [class.mode-register]="modeRegister()" (click)="toggleModeRegister()"></button>

  <section class="register" [class.mode-register]="modeRegister()">
    <div class="header">
      <h1>Register account</h1>
      <button (click)="toggleModeRegister()">
        <img src="assets/icons/cancel.png" alt="">
      </button>
    </div>
    <div class="register-input">
      <label>Username</label>
      <input type="text">
    </div>
    <div class="register-input">
      <label>Password</label>
      <input type="text">
    </div>
    <div class="register-input">
      <label>Confirm Password</label>
      <input type="text">
    </div>
    <div class="register-input">
      <label>Email Address</label>
      <input type="text">
    </div>
    <button>Registrar</button>
  </section>

</div>

