<div class="account" [class.mode-register]="modeRegister()">

  <form class="login" [class.mode-register]="modeRegister()" [formGroup]="login">
    <h1>Account</h1>
    <div class="login-input">
      <label>E-mail</label>
      <input type="email" name="email" formControlName="email">
    </div>
    <div class="login-input">
      <label>Senha</label>
      <input type="password" name="password" formControlName="password">
    </div>
    <div class="forgot-password">
      <a routerLink="/forgot-password">Esqueceu a senha?</a>
    </div>
    <button (click)="logIn()" [disabled]="modeRegister()">Logar</button>
  </form>

  <button class="open-register-view" [class.mode-register]="modeRegister()" (click)="toggleModeRegister()"></button>

  <form class="register" [class.mode-register]="modeRegister()" [formGroup]="register">
    <div class="header">
      <h1>Account - Create</h1>
      <button (click)="toggleModeRegister()">
        <img src="assets/icons/cancel.png" alt="">
      </button>
    </div>
    <div class="register-input">
      <label>Usuário</label>
      <input type="text" name="username" formControlName="username">
    </div>
    <div class="register-input">
      <label>Email</label>
      <input type="email" name="email" formControlName="email">
    </div>
    <div class="register-input">
      <label>Senha</label>
      <input type="password" name="password" formControlName="password">
    </div>
    <div class="register-input">
      <label>Senha de confirmação</label>
      <input type="password" name="confirmPassword" formControlName="confirmPassword">
    </div>
    <button (click)="createAccount()">Registrar</button>
  </form>

</div>

