<form class="chat">
  <header class="header">
    <img src="assets/icons/chat.png" alt="Chat logo" />
    <img src="assets/icons/switch.png" alt="Exit" (click)="logout()">
  </header>
  <section class="body">
   <div class="scroll" #scroll>
    <ul class="messages">
      @for (message of messages(); track message.username) {
        <li [class.right]="message.isMe">
          <div class="comment">
            <p>{{ message.content }}</p>
            @if (!message.isMe) {
              <span>{{ message.username | uppercase }}</span>
            }
            @else {
              <span>Eu</span>
            }
          </div>
        </li>
      }
      @empty {
        <li>
          <div class="comment">
            <p>Vamos se divertir? Faça um comentário😀</p>
          </div>
        </li>
      }
    </ul>
   </div>
  </section>
  <div class="input">
    <input
      type="search"
      placeholder="Type your message"
      [formControl]="message"
    />
    <img
      src="assets/icons/happy.png"
      alt="Open emoji area"
      (click)="toggleEmojiPicker()"
    />
  </div>
  @if (showEmojiPicker()) {
  <div class="emoji-picker">
    <emoji-mart
      (emojiClick)="addEmoji($event)"
      [darkMode]="false"
      title="Selecione um Emoji"
    ></emoji-mart>
  </div>
  }
</form>
