<form class="chat">
  <header class="header">
    <img src="assets/icons/chat-logo.png" alt="Chat logo" />
  </header>
  <section class="body">
   <div class="scroll">
    <ul class="messages">
      @for (message of messages(); track message.username) {
        <li [class.right]="message.isMe">
          <img src="assets/icons/person.png" alt="Person" />
          <div class="comment">
            <p>{{ message.content }}</p>
            <span>{{ message.username }}</span>
          </div>
        </li>
      }
      @empty {
        <p>Comunique-se</p>
      }
    </ul>
   </div>
  </section>
  <div class="input">
    <input
      type="search"
      placeholder="Type your message"
      [formControl]="message"
    />
    <img
      src="assets/icons/happy.png"
      alt="Open emoji area"
      (click)="toggleEmojiPicker()"
    />
  </div>
  @if (showEmojiPicker()) {
  <div class="emoji-picker">
    <emoji-mart
      (emojiClick)="addEmoji($event)"
      [darkMode]="false"
      title="Selecione um Emoji"
    ></emoji-mart>
  </div>
  }
</form>
