<div class="forgot-password">
  <form class="form" [formGroup]="form">
    <h1>Recuperar a conta</h1>
    <div class="form-input">
      <label>E-mail</label>
      <input type="text" name="email" formControlName="email">
    </div>
    @if (isEmailConfirmed()) {
      <div class="form-input">
        <label>Senha</label>
        <input type="password" name="password" formControlName="password">
      </div>
      <div class="form-input">
        <label>Senha de confirmação</label>
        <input type="password" name="confirmPassword" formControlName="confirmPassword">
      </div>
    }
    <button type="submit" (click)="submit()">Enviar</button>
  </form>
</div>

