<div class="container">
  <main [class.is-game]="isReadyToPlay()" [class.is-not-game]="!isReadyToPlay()">
    <app-chat [connection]="chatConnection" class="chat"/>
    @if (isReadyToPlay()) {
      <app-jogo-da-velha [connection]="gameConnection" [userDetails]="user"/>
    }
    @else {
      <aside class="invite">
        <h1>Bem vindo ao Jogo da Velha Online</h1>
        <p>
          Convide alguém especial para jogar e veja quem será o mestre do tabuleiro.
          Divirta-se e que vença o melhor!
        </p>
        <div class="invite-input">
          <input type="email" placeholder="E-mail" name="email" [formControl]="email"/>
          <button (click)="invite()">Convidar</button>
        </div>
      </aside>
    }
  </main>
</div>
