<div class="container">
  <main>
    <app-chat />

    @if (isReadyToPlay()) {
      <app-jogo-da-velha />
    }
    @else {
      <aside class="invite">
        <h1>Bem vindo ao Jogo da Velha Online</h1>
        <p>
          Convide alguém especial para jogar e veja quem será o mestre do tabuleiro.
          Divirta-se e que vença o melhor!
        </p>
        <div class="invite-input">
          <input type="email" placeholder="E-mail" />
          <button>Convidar</button>
        </div>
      </aside>
    }
  </main>
</div>
