* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial,sans-serif;
  text-decoration: none;
}

:root {
  --primary-color: #FFFFFF;
  --primary-color-010: #F4F6FB;
  --secondary-color: #6368ED;
  --third-color: #9F9F9F;
  --fourth-color: #d6d2bc;;
  --sixth-color: #ddd;
  --seventh-color: #6368ed4a;
  --seventh-color-10: #9093e5ba;
}


html, body {
  background-color: #d8dadf6b;
}

body {

  min-height: 100vh;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
