:host {
  .container {
    background-color: var(--secondary-color);

    h1, .p {
      color: white;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      padding: 0 0.5rem;
      color: white;

      .warn {
        color: rgba(209, 192, 192, 0.57);
      }

      .primary {
        color: rgb(255, 248, 248);
      }
    }
  }
}
